Repository AntoinePrv/opti-z-oignons: changes, and which pre-commit hooks are due for each by the changed paths.
All: pixi-format-taplo, pixi-format-cargo, pixi-format-dx, pixi-check-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude_types: [rust]
      - id: end-of-file-fixer
        exclude_types: [rust]
      - id: mixed-line-ending
        exclude_types: [rust]
        args: ['--fix=lf']
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      # - id: no-commit-to-branch
      #   args: [--branch, dev]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.6
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      # Running common tools though pixi so that they are in sync with the ones used
      # by our editors (and does not duplicate downloads).
      - id: pixi-format-taplo
        name: "Run taplo format through pixi"
        entry: pixi run fmt-taplo""
        language: system
        types_or: [toml]
      - id: pixi-format-cargo
        name: "Run cargo format through pixi"
        entry: pixi run fmt-cargo --
        language: system
        types_or: [rust]
      - id: pixi-format-dx
        name: "Run dioxus format through pixi"
        entry: pixi run fmt-dx
        language: system
        types_or: [rust]
        pass_filenames: false
      - id: pixi-check-clippy
        name: "Run clippy through pixi"
        entry: pixi run check-clippy --allow-dirty
        language: system
        types_or: [rust]
        pass_filenames: false # Would need a different task

Improve pixi.toml
  pixi.toml
Due: pixi-format-taplo

Add build-tailwind to pixi
  package-lock.json
  package.json
  pixi.toml
Due: pixi-format-taplo

Fix deploy branch
  .github/workflows/test-deploy.yml
Due: none

Rename project opti-z-oignons
  Cargo.lock
  Cargo.toml
  Dioxus.toml
  pixi.toml
Due: pixi-format-taplo

Add deployment
  .github/workflows/test-deploy.yml
  Dioxus.toml
  pixi.lock
  pixi.toml
Due: pixi-format-taplo

Add ArmchairWithPerson
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Fine-place tooltip
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Move schema elements to ui module
  src/app/problem/page.rs
  src/app/ui.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Add assigned schema
  src/app/solution/page.rs
  src/app/ui.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Add seated person tooltip
  src/app/ui.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Fix tooltip
  src/app/ui.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Fix responsive issues
  src/app/layout.rs
  src/app/problem/page.rs
  src/app/solution/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

First draft to multi input
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Clear input with rerender
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Handle new lines in PersonInput
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Add legend to PersonInput
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy

Add delete button on multi input members
  src/app/problem/page.rs
Due: pixi-format-cargo, pixi-format-dx, pixi-check-clippy
